<!doctype html>

{% if not story_id %}

<head>
    <h1>User Story manager - Add new Story</h1>
    <title>Super Sprinter 3000 - Add new Story</title>
</head>
<body>
<p>Story is {{ story_id }}</p>
<form action="read-input" method="post">

    <p>Story Title:</p>
    <p><input type="text" name="story-title"></p>

    <p>User Story:</p>
    <p><textarea name="user-story" rows="5" cols="20"></textarea></p>
    
    <p>Acceptance criteria:</p>
    <p><textarea name="accept-crit" rows="5" cols="20"></textarea></p>
    
    <p>Business value:</p>
    <input type="number" name="bussines-value" value="100" min="100" max="1500" step="100">

    <p>Estimation (h):</p>
    <input type="number" name="estimation" value="0.5" min="0.5" max="40" step="0.5">

    <p>Status:</p>
    <select name="status">
        <option value="Planning">Planning</option>
        <option value="TODO">TODO</option>
        <option value="In Progress">In Progress</option>
        <option value="Review">Review</option>
        <option value="Done">Done</option>
    </select>
<p><input type="submit" name="create" value="Create"></p>
</form>
</body>

{% else %}

<head>
    <h1>User Story manager - Edit Story</h1>
    <title>Super Sprinter 3000 - Edit Story</title>
</head>
<body>
    <!-- Ha van story id akkor a lista elemeint kell beállítani value-nak az inputoknál!!-->
<p>Story is {{ story_id }}</p>
<form action="read-input" method="post">
    <!--{% for data in data_list %} -->
    <p>Story Title:</p>
    <p><input type="text" name="story-title"></p>

    <p>User Story:</p>
    <p><textarea name="user-story" rows="5" cols="20"></textarea></p>
    
    <p>Acceptance criteria:</p>
    <p><textarea name="accept-crit" rows="5" cols="20"></textarea></p>
    
    <p>Business value:</p>
    <input type="number" name="bussines-value" value="100" min="100" max="1500" step="100">

    <p>Estimation (h):</p>
    <input type="number" name="estimation" value="0.5" min="0.5" max="40" step="0.5">

    <p>Status:</p>
    <select name="status">
        <option value="Planning">Planning</option>
        <option value="TODO">TODO</option>
        <option value="In Progress">In Progress</option>
        <option value="Review">Review</option>
        <option value="Done">Done</option>
    </select>
<p><input type="submit" name="edit" value="Edit"></p>
</form>
</body>

{% endif %}

