<!doctype html>
<head>
<title>Super Sprinter 3000</title>
<h1>User Story Manager</h1>
</head>
<body>
<p>
<form action="story" method="get">
<button id="Add_new_story_button" type="submit">Add New Story</button>
</form>
</p>
<table border=1 width="1000">
<tr align="middle">
    <th>ID</th>
    <th>Story Title</th>
    <th>User Story</th>
    <th>Acceptance criteria</th>
    <th>Business value</th>
    <th>Estimation (h)</th>
    <th>Status</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
<tr>
{% for item in data_list %}
      <td  align="middle">{{ item[0] }}</td>
      <td  align="middle">{{ item[1] }}</td>
      <td  align="middle">{{ item[2] }}</td>
      <td  align="middle">{{ item[3] }}</td>
      <td  align="middle">{{ item[4] }}</td>
      <td  align="middle">{{ item[5] }}h</td>
      <td  align="middle">{{ item[6] }}</td>
      <td  align="middle">
          <form action="story/{{ item[0] }}" method="POST">
          <input id="edit_option_button" name="edit_option" type="image" src="/static/pencil.png" alt="Submit" width="30" value="{{ item[0] }}">
          </form></td>
      <td  align="middle">
          <form action="delete-story" method="POST">
          <input id="delete_option_button" name="delete" type="image" src="/static/trash_can.png" alt="Submit" width="30" value="{{ item[0] }}">
          </form></td>
    </tr>
{% endfor %}
</table>
</body>
