<!doctype html>
<head>
<title>Super Sprinter 3000</title>
<h1>LIST</h1>
</head>
<body>
<table border=1>
<tr>
    <th>ID</th>
    <th>Story Title</th>
    <th>User Story</th>
    <th>Acceptance criteria</th>
    <th>Business value</th>
    <th>Estimation (h)</th>
    <th>Status</th>
</tr>
<tr>
{% for item in data_list %}
      <td>{{ item[0]|tojson|safe }}</td>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
      <td>{{ item[4] }}</td>
      <td>{{ item[5] }}</td>
      <td>{{ item[6] }}</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
{% endfor %}
</table>
<p>
<form action="story" method="get">
<button type="submit">Add New Story</button>
</form>
</p>
</body>
